<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ganti Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; margin-top: 5%; border-radius: 10px; border-color: rgb(221, 221, 221)">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

    <ion-row>
      <ion-col>
        <ion-button style="margin-left: 80px; margin-right: 80px;" class="ion-no-margin" expand="block" type="submit" shape="round" color="primary" (click)="resetPassword(email)">Kirim</ion-button>
      </ion-col>
    </ion-row>

  <div class="sponsor">
    <small>
      Harap berikan nama pengguna atau alamat email yang Anda gunakan saat masuk untuk konfirmasi kata sandi baru.
    </small>
  </div>

</ion-content>