<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Tentang PesanAja</ion-title>
      <ion-button href="mailto:admin@pesanaja.is.uad.ac.id" slot="end" fill="clear" style="margin-right: 15px;">
          <ion-icon name="mail-open" slot="icon-only" color="light"></ion-icon>
      </ion-button>
      <ion-icon md="md-arrow-round-back" slot="start" style="font-size: xx-large; margin-left: 5px;" (click)="dismiss()">
      </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="border-radius: 10px;">
    <div align="center">
        <img src="../../assets/logofix.png" style="width: 200px; height: 200px;">
        <!-- <h5><strong>PesanAja</strong></h5> -->
    </div>
    <div style="margin: 10px; text-align: justify;">
        <ion-text>
            PesanAja merupakan sebuah aplikasi pemesanan makanan, minuman & keperluan kuliah di kampus Universitas Ahmad Dahlan.<br>
            Aplikasi ini masih dalam pengembangan, kritik dan saran silahkan kirimkan ke email kami dengan cara
            tekan ikon pesan di pojok kanan atas halaman ini.<br>
            Terimakasih, <br><i>Best Regards <br><br>Admin PesanAja.</i>
        </ion-text>
    </div>
</ion-card>

</ion-content>