<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="batal()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title>
      Pesanan
    </ion-title>
  </ion-toolbar>



</ion-header>
<ion-content>

  <ion-grid>
    <ion-row center>
      <ion-col size="5">
        <ion-card style="height: 100px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-dari-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">UAD 4</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray;">Kantin ADI</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <img src="assets/sprint.svg" style="width: 50px; height: 50px; margin-top: 30px;">
      </ion-col>
      <ion-col size="5">
        <ion-card style="height: 100px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-ke-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">UAD 4</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray; "> {{orderData.infoOrder.lokasi_antar}}
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-card style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; 
   border-top-right-radius: 30px; border-top-left-radius: 30px;">
    <ion-tab-bar>
      <h5>DATA PEMESAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="{{images[pemesan.avatar] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[pemesan.avatar]}}">
        </ion-thumbnail>
        <ion-label>
          <h3>{{pemesan.name}}</h3>
          <p>Pemesan</p>
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-tab-bar>
      <h5>DATA PESANAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item *ngFor="let data of pesananData">
          <ion-thumbnail slot="start">
            <img
              src="{{images[data.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[data.url]}}">
          </ion-thumbnail>
          <ion-label>
            <b>{{data.nama}}<br>
              <ion-text color="black" style="font-size: 12px;"> {{data.harga}} <br>
              </ion-text>
            </b>
          </ion-label>
          <ion-text>{{data.jumlah}} x</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Ongkir </ion-label>
          <ion-text slot="end">Rp{{orderData.infoOrder.ongkir}} </ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Total Harga </ion-label>
          <ion-text slot="end">Rp{{orderData.infoOrder.totalHarga}} </ion-text>
        </ion-item>
      </ion-list>
      <ion-card>
        <ion-item color="primary">
          <ion-label>Metode Pembayaran</ion-label>
          <ion-text slot="end">
            <!-- {{infoOrder.metode == undefined ? 'kosong':infoOrder.metode}} -->
            {{orderData.infoOrder.metode}}
          </ion-text>
        </ion-item>
      </ion-card>
    </ion-card-content>
    <ion-label style="color: red; margin-left: 10px; padding-bottom: 5px;" *ngIf="orderData.warung == '0' ">Menunggu
      Konfirmasi Warung
    </ion-label>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button *ngIf="mode == 'terima'" expand="block" color="success" style="color: white;" (click)="terima()"
    [disabled]="orderData.warung == '0' || loading">{{loading ? 'Tunggu..':'Terima Pesanan'}} </ion-button>
</ion-footer>