<ion-content style="background-color:#F5F0EB;">
  <ion-card style="background-color:white; margin-top: 0%; margin-left: 0%; margin-right: 0%;
    padding-bottom: 5%; border-bottom-left-radius: 5%; border-bottom-right-radius: 5%;">
    <ion-row align-items-center style="height: 100%;">
      <ion-col>
        <div style="text-align: center; margin-top: -20px;">
          <img src="../../assets/logofix.png" width="90px">
        </div>

          <ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; border-radius: 10px; margin-top: -20px; border-color: rgb(221, 221, 221)">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
          </ion-item>

          <ion-item style="border: solid; border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-input #toggleInput [(ngModel)]="password" placeholder="Kata Sandi" type="{{type}}"></ion-input>
              <ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
                <ion-icon name="eye" style="font-size:25px;"></ion-icon>
              </ion-button>
              <ion-button *ngIf="showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
                <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
              </ion-button>
          </ion-item>

        <br>
        <div class="sponsor">
          <p><a [routerLink]="['/forgot']" (click)="lupasandi()" style="color: #6d7278;">Lupa Kata Sandi?</a></p>
        </div>

        <div class="ion-padding">
          <ion-button (click)="login(email,password)" style="margin-left: 80px; margin-right: 80px;" class="ion-no-margin" expand="block" type="submit" shape="round" color="primary" (click)="login(email,password)"><ion-icon name="arrow-forward"></ion-icon> {{loading ? 'WAIT..':'Masuk'}}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <div class="sponsor">
    <p><a [routerLink]="['/register']" style="color: #6d7278;">BUAT AKUN</a></p>
  </div>
  
</ion-content>

