<ion-content color="primary" fullscreen="true">
  <ion-row align-items-center style="height: 100%;">

		<ion-col>
			<div style="text-align: center;">
			<img src="assets/logofix3.png" width="500px">
			
		</div>
		</ion-col>

	</ion-row>
</ion-content>