<ion-content style="background-color: grey;">
	<ion-card style="margin-top: 0%; margin-left: 0%; margin-right: 0%;
	  padding-bottom: 5%; border-bottom-left-radius: 5%; border-bottom-right-radius: 5%;">
	  <ion-row align-items-center style="height: 100%;">
		<ion-col>
			<div style="text-align: center;">
				<img src="../../assets/logofix.png" width="90px" style="margin-top: -50px; margin-bottom: -100px;">
				<h5><strong style="color: #ff9500; text-align: center; margin-top: -20px;">Buat Akun</strong></h5>
			</div>
  
			<ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; margin-top: 10%; border-radius: 10px; border-color: rgb(221, 221, 221)">
			  <ion-icon name="person" slot="start"></ion-icon>
			  <ion-input placeholder="Nama" [(ngModel)]="name" type="text"></ion-input>
			</ion-item>
  
			<ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
			  <ion-icon name="call" slot="start"></ion-icon>
			  <ion-input placeholder="No Ponsel" [(ngModel)]="no_hp" type="text"></ion-input>
			</ion-item>
  
			<ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
			  <ion-icon name="mail" slot="start"></ion-icon>
			  <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
			</ion-item>
  
			<ion-item style="border: solid; border-width: 1.5px; border-radius: 10px; border-color: rgb(221, 221, 221)">
			  <ion-icon name="lock" slot="start"></ion-icon>
			  <ion-input [(ngModel)]="password" placeholder="Kata Sandi" type={{type}}></ion-input>
				<ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
					<ion-icon name="eye" style="font-size:25px;"></ion-icon>
				</ion-button>
				<ion-button *ngIf="showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
					<ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
				</ion-button>
			</ion-item>
			<p style="margin-left: 15px; color: firebrick; font-size: 15px;" *ngIf="password?.length < 6">* Kata sandi minimal 6
				karakter</p>

			<ion-note style="margin-left: 15px; margin-top: 10px;">Dengan ini anda menyetujui :</ion-note>
			<p style="margin-left: 15px;margin-top: 2px; color: darkcyan;" (click)="detailSyarat()">Syarat & Ketentuan
				PesanAja App</p>  
				
		  <div class="ion-padding">
			<ion-button style="margin-left: 80px; margin-right: 80px;" class="ion-no-margin" expand="block" type="submit" shape="round" color="primary" [disabled]="name == null || email == null || password == null || password.length < 6" (click)="register(email,password,name,no_hp)"><ion-icon name="arrow-forward" ></ion-icon> {{loading ? 'WAIT..':'BUAT AKUN'}}</ion-button>
		  </div>
		</ion-col>
	  </ion-row>
	</ion-card>
	<div class="sponsor">
	  <p><a [routerLink]="['/login']" style="color: #6d7278;">MASUK</a></p>
	</div>
	
  </ion-content>
  