<ion-header>
  <ion-toolbar color="primary">
    <ion-icon md="md-arrow-round-back" slot="start" style="font-size: xx-large; margin-left: 5px;" (click)="dismiss()">
    </ion-icon>
    <ion-title>Syarat & Ketentuan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content *ngFor="let data of umum">
      <b>Syarat & Ketentuan Umum</b>
      <p style="text-align: justify;">
        {{data.syarat_umum}}
      </p>
      <br>
      <b>Syarat & Ketentuan Penggunaan Aplikasi</b>
      <P style="text-align: justify;">
        {{data.syarat_penggunaan}}
      </P>
    </ion-card-content>
  </ion-card>
</ion-content>