ion-content {
    --background: url(../../assets/dish.png) no-repeat top center/cover fixed;
    position: relative;
    height: 100%;
    width: 100%;

    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
}

ion-toolbar {
    --background: transparent;
}

ion-chip {
    --background: #ff9500;
    --color: #fff;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                height: 165px;
                width: 165px;
                border-radius: 100px;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 8px solid #ff9500;
                background-color: #000000;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}