<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Profil
		</ion-title>
		<ion-button style="padding-left: 0px; padding-right: 10px; size: 20%;" class="ion-button" color="danger" slot="end"
			(click)="keluar()" fill="clear">
			<ion-icon name="log-out" slot="icon-only" color="light"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>


<ion-content fullscreen="true" slot="fixed">
	<div *ngIf="data">
		<div class="card">
			<div class="header">
				<div class="avatar">
					<img src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}" (click)="ActionSheet()">
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="user-meta ion-text-center">
				<ion-item>
					<ion-label position="floating">Nama</ion-label>
					<ion-input [(ngModel)]="userData.name"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Nama Pengguna</ion-label>
					<ion-input [(ngModel)]="userData.username"></ion-input>
				</ion-item>      

				<ion-item>
					<ion-label position="floating">Email</ion-label>
					<ion-input [(ngModel)]="userData.email" disabled></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Nomor Ponsel</ion-label>
					<ion-input [(ngModel)]="userData.no_hp"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label position="floating">Tentang</ion-label>
					<ion-input [(ngModel)]="userData.about"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Bio</ion-label>
					<ion-textarea [(ngModel)]="userData.bio"></ion-textarea>
				</ion-item>
		
				<ion-item>
					<ion-label>Jenis Kelamin</ion-label>
					<ion-select interface="popover" [(ngModel)]="userData.gender">
						<ion-select-option value="male">Laki-laki</ion-select-option>
						<ion-select-option value="female">Perempuan</ion-select-option>
					</ion-select>
				</ion-item>

				<div class="ion-padding">
					<ion-button expand="block" type="submit" class="ion-no-margin" color="primary" (click)="updateData()">
						{{loading ? 'WAIT..':'SIMPAN'}}</ion-button>
				</div>
			</div>
		</div>
	</div>

	<!-- skeleton -->
	<div *ngIf="!data">
		<div class="card">
			<div class="header">
				<div class="avatar">
					<ion-skeleton-text animated style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;"></ion-skeleton-text>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="user-meta ion-text-center">
				<ion-item>					
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>

				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>      

				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>

				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>
				
				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>

				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        			<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
				</ion-item>
		
				<ion-item>
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
					<ion-select interface="popover" [(ngModel)]="userData.gender">
						<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        				<ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
					</ion-select>
				</ion-item>

				<div class="ion-padding">
					<ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
				</div>
			</div>
		</div>
	</div>
	
</ion-content>

<script>
	function toggleSkeleton() {
	  const skeletonEl = document.getElementById('skeleton'),
		skeletonStyle = window.getComputedStyle(skeletonEl),
		skeletonDisplay = skeletonStyle.getPropertyValue('display');
	  const dataEl = document.getElementById('data'),
		dataStyle = window.getComputedStyle(dataEl),
		dataDisplay = dataStyle.getPropertyValue('display');
  
	  document.getElementById('skeleton').style.display = skeletonDisplay === 'none' ? 'block' : 'none';
	  document.getElementById('data').style.display = dataDisplay === 'none' ? 'block' : 'none';
	}
  </script>