<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesanan">
      <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aktivitas">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Aktivitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pengaturan">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>