<ion-header no-border>
  <ion-toolbar text-left color="primary">
    <ion-title style="text-align: center;">
      Aktivitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="riwayat">
    <ion-segment-button value="diproses">
      <ion-label>Diproses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="selesai">
      <ion-label>Selesai</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="riwayat">
    <ion-list *ngSwitchCase="'diproses'" ngSelected="selected">
      <ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataDiproses"
        (click)="pesananAntar(item)">
        <ion-card-header style="text-align: center; background-color: rgb(97, 222, 253); color: white;">Pesanan Diproses
        </ion-card-header>
        <ion-item no-padding no-margin>
          <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
          <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'hh:mm'}}</ion-note><br>
            <ion-note>{{item.status}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-card>
      <div *ngIf="pesananDataDiproses.length == 0">
        <ion-card style="border-radius: 15px;">
          <ion-item style="text-align: center;" no-padding no-margin>
            <ion-label>
              <b>Belum ada pesanan diproses</b>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'selesai'" ngSelected="selected">
      <ion-card style="border-radius: 15px;" *ngFor="let item of pesananData"
        (click)="pesananAntar(item)">
        <ion-card-header style="text-align: center; background-color: rgb(97, 253, 105); color: white;">Pesanan Selesai
        </ion-card-header>
        <ion-item no-padding no-margin>
          <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
          <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'hh:mm'}}</ion-note><br>
            <ion-note>{{item.status}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-card>
      <div *ngIf="pesananData.length == 0">
        <ion-card style="border-radius: 15px;">
          <ion-item style="text-align: center;" no-padding no-margin>
            <ion-label>
              <b>Belum ada pesanan selesai</b>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>
  </div>

</ion-content>