<div class="header">
  <ion-button style="padding-right: 0px; size: 20%;" class="ion-button" color="danger" slot="end" (click)="tentang()" fill="clear">
    <ion-icon name="information-circle-outline" slot="icon-only" color="light"></ion-icon>
  </ion-button>
</div>
<ion-card style="border-radius: 20px; margin-top: -30px;">
  <ion-tab-bar style="height: 180px; text-align: center;">
    <img src="../../assets/logofix.png">    
  </ion-tab-bar>
  <ion-item style="font-size: 13px;">
    <ion-label color="{{status == false ? status == true ? '':'danger':'success'}}" style=" margin-left: 5px; margin-right: 10px;">Status: {{status == false ? 'Tidak Aktif':'Aktif'}}</ion-label>
    <ion-toggle checked color="primary" style="margin-right: 1px; margin-left: 100px;" [(ngModel)]="status" value="{{status}}" (ionChange)="aktivasi($event, status)"></ion-toggle>
  </ion-item>
</ion-card>

<ion-content slot="fixed" padding>
  <div *ngIf="data">
    <ion-grid style="background-color: #F0F4F8;">
      <ion-row>
        <ion-col size="3">
          <div class="avatar">
            <img style="border-radius: 100px; position: absolute; height: 80px; width: 80px;" src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}"
              alt="">
          </div>
        </ion-col>
        <ion-col size="8" offset="1">
          <ion-list style="background-color: #F0F4F8;">
            <ion-label><b>{{userData.name}}</b></ion-label><br/>
            <ion-label style="font-size: 13px;">{{userData.email}}</ion-label><br/><br/>
            <ion-label style="font-size: 14px;">Rp{{userData.penghasilan}}</ion-label>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <ion-label><b>Status Pemesanan</b></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid style="background-color: #F0F4F8;">
      <ion-row style="text-align: center;">
        <ion-col offset-4 size="6" >
          <ion-card style="border-radius: 100px; height: 100px; width: 100px; text-align: center; background-color: white; margin-left: 25px; font-size: 40px;" (click)="orderan()">
            <ion-grid style="height: 100px; width: 100px;">
              <ion-row>
                <ion-col style="text-align: center; margin-top: 15px;">{{jumlahDiproses}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-label style="text-align: center; font-size: 14px;">Sedang Proses</ion-label>
        </ion-col>
       
        <ion-col offset-4 size="6">
          <ion-card style="border-radius: 100px; height: 100px; width: 100px; text-align: center; background-color: white; margin-left: 25px; font-size: 40px;" (click)="orderan()">
            <ion-grid style="height: 100px; width: 100px;">
              <ion-row>
                <ion-col style="text-align: center; margin-top: 15px;">{{jumlahSelesai}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-label style="text-align: center; font-size: 14px;">Diselesaikan</ion-label>
        </ion-col>
      </ion-row>  
    </ion-grid>
  
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid style="background-color: #F0F4F8;" *ngFor="let data of kata">
      <ion-row style="text-align: left;">
        <ion-col>
          <ion-label>{{data.quote}}</ion-label>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div>

  <!-- skeleton -->
  <div *ngIf="!data">
    <ion-grid style="background-color: #F0F4F8;">
      <ion-row>
        <ion-col size="3">
          <div class="avatar">
            <ion-skeleton-text animated style="border-radius: 100px; height: 80px; width: 80px;"></ion-skeleton-text>
          </div>
        </ion-col>
        <ion-col size="8" offset="1">
          <ion-list style="background-color: #F0F4F8;">
            <ion-skeleton-text animated style="width: 90%" id="profile-name"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 90%" id="profile-name"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <ion-skeleton-text animated style="width: 100%" id="profile-name"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid style="background-color: #F0F4F8;">
      <ion-row style="text-align: center;">
        <ion-col offset-4 size="6" >
          <ion-card style="border-radius: 100px; height: 100px; width: 100px; text-align: center; background-color: white; margin-left: 25px; font-size: 40px;" (click)="orderan()">
            <ion-grid style="height: 100px; width: 100px;">
              <ion-row>              
              </ion-row>
            </ion-grid>
          </ion-card>        
        </ion-col>
       
        <ion-col offset-4 size="6">
          <ion-card style="border-radius: 100px; height: 100px; width: 100px; text-align: center; background-color: white; margin-left: 25px; font-size: 40px;" (click)="orderan()">
            <ion-grid style="height: 100px; width: 100px;">
              <ion-row>              
              </ion-row>
            </ion-grid>
          </ion-card>        
        </ion-col>
      </ion-row>  
    </ion-grid>
  
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid style="background-color: #F0F4F8;">
      <ion-row style="text-align: left;">
        <ion-col>
          <ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div>


</ion-content>

<script>
	function toggleSkeleton() {
	  const skeletonEl = document.getElementById('skeleton'),
		skeletonStyle = window.getComputedStyle(skeletonEl),
		skeletonDisplay = skeletonStyle.getPropertyValue('display');
	  const dataEl = document.getElementById('data'),
		dataStyle = window.getComputedStyle(dataEl),
		dataDisplay = dataStyle.getPropertyValue('display');
  
	  document.getElementById('skeleton').style.display = skeletonDisplay === 'none' ? 'block' : 'none';
	  document.getElementById('data').style.display = dataDisplay === 'none' ? 'block' : 'none';
	}
  </script>