.ion-card {
    background-color: #ff9500; // black
  }
  
  div.header{
   height: 70px;
   background-color: #ff9500;
   margin-bottom: 1%;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
   box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  }