<div class="header">
  <ion-text>
    <img src="../../assets/logofix3.png" width="90px" height="90px" alt="30"
      style="margin-top: -20px; margin-left: -10px" />
  </ion-text>
</div>
<ion-card style="border-radius: 20px; margin-top: -30px;">
  <ion-tab-bar>
    <h5>Pesanan Masuk </h5>
  </ion-tab-bar>
</ion-card>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Memuat Ulang...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="dataRunner.status == true">
    <div *ngFor="let item of pesananData">
      <ion-card style="border-radius: 15px;" *ngIf="item.onView == false && item.status != 'ditolak'" no-padding (click)="detailPesanan(item)">
        <ion-card-header style="text-align: center; background-color: rgb(97, 222, 253); color: white;">Pesanan Masuk
        </ion-card-header>
        <ion-item no-padding no-margin>
          <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
          <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'hh:mm'}}</ion-note>
          </ion-label>
          <ion-icon name="walk" slot="end"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="pesananData.length == 0">
      <ion-card style="border-radius: 15px;">
        <ion-item style="text-align: center;" no-padding no-margin>
          <ion-label>
            <b>Belum ada pesanan masuk</b>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </div>

  <ion-card *ngIf="dataRunner.status == false"
    style="text-align: center; height: 80px; margin-left: 15px; border-radius: 15px;">
    <ion-grid no-padding>
      <ion-row>
        <ion-col style="margin-top: 30px;">
          <ion-label>
            Aktifkan Status Akun Anda!
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card *ngIf="data.status != false || pesananData == null || pesananData == undefined || pesananData == ''" style="text-align: center; width: 330px; height: 80px; margin-left: 15px; border-radius: 15px;">
    <ion-grid no-padding>
      <ion-row>
        <ion-col style="margin-top: 30px;">
          <ion-label>
            Belum Ada Orderan.
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

</ion-content>