<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="batal()" slot="start" fill="clear">
      <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon>
    </ion-button>
    <ion-title>
      Pesanan
    </ion-title>
  </ion-toolbar>



</ion-header>
<ion-content>

  <ion-grid>
    <ion-row center>
      <ion-col size="5">
        <ion-card style="height: 90px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-dari-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">UAD 4</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray;">Kantin ADI</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <img src="assets/sprint.svg" style="width: 50px; height: 50px; margin-top: 30px;">
      </ion-col>
      <ion-col size="5">
        <ion-card style="height: 90px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-ke-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">UAD 4</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray; "> {{orderData.infoOrder.lokasi_antar}}
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-card style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; 
    border-top-right-radius: 30px; border-top-left-radius: 30px;">
    <ion-tab-bar>
      <h5>DATA PEMESAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="{{images[userData.avatar] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[userData.avatar]}}">
        </ion-thumbnail>
        <ion-label>
          <h3>{{pemesan.name}}</h3>
          <p>Pemesan</p>
        </ion-label>
        <ion-grid *ngIf="orderData.status != 'selesai'">
          <ion-row center>
            <ion-col size="4">
              <a href="tel:{{userData.no_hp}}" fill="clear" target="_blank"><img slot="icon-only"
                  style=" margin-bottom: 10px; " src="assets/call.svg" width="30px" height="30px"></a>
              <a fill="clear" (click)="chat()"><img slot="icon-only" style=" margin-bottom: 10px; "
                  src="assets/chat.svg" width="30px" height="30px"></a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>

    <ion-tab-bar>
      <h5>DATA PESANAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let data of pesananData">
          <ion-thumbnail slot="start">
            <img
              src="{{images[data.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[data.url]}}">
          </ion-thumbnail>
          <ion-label>
            <b>{{data.nama}}<br>
              <ion-text color="black" style="font-size: 12px;">Rp{{data.harga  | number:'1.0-0'}} <br>
              </ion-text>
            </b>
          </ion-label>
          <ion-text>{{data.jumlah}} x</ion-text>
        </ion-item>

        <ion-item *ngIf="infoOrder.ongkir === 0">
          <ion-label position="fixed">Ongkir</ion-label>
          <ion-text slot="end">
            Rp{{infoOrder.ongkir | number:'1.0-0'}}
          </ion-text>
        </ion-item>

        <ion-item *ngIf="infoOrder.ongkir !== 0">
          <ion-label position="fixed">Ongkir</ion-label>
          <ion-text slot="end">
            Rp{{infoOrder.ongkir}}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Total Harga</ion-label>
          <ion-text slot="end">
            Rp{{infoOrder.totalHarga | number:'1.0-0'}}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Status</ion-label>
          <ion-text slot="end">
            {{status}}
          </ion-text>
        </ion-item>
      </ion-list>

      <ion-card>
        <ion-item color="primary">
          <ion-label>Metode Pembayaran</ion-label>
          <ion-text slot="end">
            {{infoOrder.metode}}
          </ion-text>
        </ion-item>
      </ion-card>

      <ion-card *ngIf="warungData != undefined" style="height: 90px; border-radius: 10px;">
        <ion-grid>
          <ion-row center>
            <ion-col size="3">
              <ion-avatar>
                <img
                  src="{{images[warungData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[warungData.avatar]}}"
                  width="20px" height="20px">
              </ion-avatar>

            </ion-col>
            <ion-col size="5">
              <ion-card-title style="font-size: medium;">{{warungData.nama }}</ion-card-title>
              <ion-card-subtitle>Alamat: {{warungData.alamat}}</ion-card-subtitle>
              <br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>

  </ion-card>

</ion-content>
<ion-footer>
  <ion-button *ngIf="infoOrder.metode == 'tunai' && orderData.status != 'selesai'" color="success" expand="block"
    style="color: white;" (click)="selesaitunai()" [disabled]="loading || orderData.status == 'selesai'">
    {{loading ? 'Tunggu..':'Pesanan Selesai'}} </ion-button>
  <ion-button *ngIf="infoOrder.metode == 'virtual' && orderData.status != 'selesai'" color="success" expand="block"
    style="color: white;" (click)="selesai()" [disabled]="loading || orderData.status == 'selesai'">
    {{loading ? 'Tunggu..':'Pesanan Selesai'}} </ion-button>
  <ion-button *ngIf="orderData.status == 'selesai'" color="danger" expand="block"
    style="color: white;" (click)="hapus(orderData.id)">Hapus</ion-button>
</ion-footer>