.ion-card {
    background-color: #ff9500;

  }
  
  div.header{
   height: 70px;
   background-color: #ff9500;
   margin-bottom: 1%;
   -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
   box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
  }
ion-col > div{
   margin: 10px;
  

}
ion-col > div > img{
    width: 30px;
    height: 30px;
}

